/* common shared styles */
body {
    font-family: 'Merriweather', serif;
}

/* header starts */

.header-banner {
    max-width: 1320px;
    background-image: url('../resources/Banner\ Image.png');
    margin: 0px auto;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
    background-image: linear-gradient(to right rgb(12, 9, 9) rgb(11, 9, 9));

}

.banner-content {
    padding: 100px 200px 300px 300px;
    max-width: 630px;
    max-height: 190px;
    margin: 0 auto;
}

.header-small-title {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-weight: 400;

}

.header-big-title {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-weight: 900;

}

/* main starts - first section */
.first-section-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


.first-section-column-title {
    color: #F00;

    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}

.first-section-column-content-small {
    color: #F00;

    font-family: Inter;
    font-size: 15px;
    font-weight: 500;

}

.first-section-column-content-big {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;

}

/* second section starts */

.second-section-container {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-color: green;
    margin: 50px auto;
    max-width: 1320px;
    padding: 50px 0px 50px 50px;
    background-size: cover;
}

.second-section-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;

}

.second-section-content {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;

}

.second-section-btn {
    text-color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    margin-left: 30px;
}

/* third section starts */

.third-section-container {
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 28px;
    margin-bottom: 30px;

}

.third-section-content {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;


}

.third-section-content-title {

    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;


}

.third-section-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    border: 0;
    padding: 10px;

}

/* fourth section starts */

.fourth-section-container {
    /* background-color: green; */
    display: flex;
    max-width: 1320px;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    justify-content: start;
    gap: 150px;
}

.fourth-section-column-content .small {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;


}

.fourth-section-column-content .big {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 0;

}

.fourth-section-column-content .smaller {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;


}


.fourth-section-column-img {
    border: 10px solid red;
    border-radius: 50%;
}

.fourth-section-column-content-right-big {

    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;


}

/* fifth section starts */

.fifth-section-column-container {
    max-width: 1320px;
    margin: 0 auto;
}

.fifth-sectlion-column {
    margin: 35px 0;
}

.fifth-section-column-content-small {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.fifth-section-column-content-big {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.fifth-section-column-content-smaller {

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.fifth-section-img-container {
    display: flex;
    gap: 20px;
}

.fifth-section-img-container img:hover {
    border: 3px solid rgb(250, 8, 8);
    border-radius: 15px;

}

/* sixth section starts */

.sixth-section-container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.sixth-section-column {
    margin: 30px 0;
}

.sixth-section-column-content {
    text-align: center;
}

.sixth-section-column-content-big {

    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.sixth-section-column-content-small {

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 800px;


}


#input {
    padding: 15px 100px;
    max-width: 400px;
    max-height: 70px;
    border: 0;
}

.sixth-section-btn {
    padding: 15px 30px;
    border-radius: 0 20px 20px 0;
    margin-left: -5px;
    background-color: red;
    color: white;
    border: 0;
}