/* common shared styles */
body {
    font-family: 'Merriweather', serif;
}

/* header starts */

.header-banner {
    max-width: 1320px;
    background-image: url('../resources/Banner\ Image.png');
    margin: 0px auto;
    background-repeat: no-repeat;
    border-radius: 10px;

}

.banner-content {
    padding: 100px 200px 300px 300px;
    max-width: 630px;
    max-height: 190px;
    margin: 0 auto;
}

.header-small-title {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-weight: 400;

}

.header-big-title {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-weight: 900;

}

/* main starts - first section */
.first-section-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.first-section-column{
    /* padding: 50px; */

}
.first-section-column-title {
    color: #F00;
   
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}

.first-section-column-content-small {
    color: #F00;
   
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;

}

.first-section-column-content-big {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;

}